

body {
    display: flex;
    overflow: hidden;
    font-size: 100%;
}

div,
nav,
input {
    box-sizing: border-box;
}

a,
button {
    cursor: pointer;
}

button:hover{
    opacity: .6;
}

.main-frame {
    float: left;
    box-sizing: border-box;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hidden {
    display: none;
}








/*pop up*/

#pop-up{
    position: absolute;
    display: none;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.56);
}

#pop-up.active {
    display: block;
}

#pop-up li{
    color: #414142;
    padding: 7px 15px;
    font-size: .9rem;
}



