<form class="sent-form">
            <div class="sent-form-inner">
                <div id="message-box" class="message-text" contenteditable>
                    Type your message..
                </div>
                <button id="smiles-button" class="attach-smile"></button>
                <!--<div id="emoji-window">
                    <img src="img/emoji/shy.svg" class="emoji-icon">
                    <img src="img/emoji/happy.svg" class="emoji-icon">
                    <img src="img/emoji/sad.svg" class="emoji-icon">
                    <img src="img/emoji/angry.svg" class="emoji-icon">
                    <img src="img/emoji/love.svg" class="emoji-icon">
                    <img src="img/emoji/wink.svg" class="emoji-icon">
                </div>-->
                <input id="attach" class="attach-file" type="file">
                <label for="attach"></label>
            </div>
        </form>