<div class="chat-area">
            <div class="message-item">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item answer">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item answer">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item answer">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item answer">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
            <div class="message-item">
                <div class="chat-user-photo"></div>
                <div class="chat-message">
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                    <time class="chat-message-time">13:58</time>
                </div>
            </div>
        </div>