<ul class="user-menu">
            <li>
                <div class="user-photo">
                    <div class="message-indicator">1</div>
                </div>
                <div class="user-name">John Faustino</div>
                <div class="short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time>52 m</time>
            </li>
            <li class="is-active">
                <div class="user-photo"></div>
                <div class="user-name">Cassia Tofano</div>
                <div class="short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time>now</time>
            </li>
            <li>
                <div class="user-photo"></div>
                <div class="user-name">Youtong Lee</div>
                <div class="short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time>52 m</time>
            </li>
            <li>
                <div class="user-photo"></div>
                <div class="user-name">John Faustino</div>
                <div class="short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time>52 m</time>
            </li>
            <li>
                <div class="user-photo"></div>
                <div class="user-name">Cassia Tofano</div>
                <div class="short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time>52 m</time>
            </li>
            <li>
                <div class="user-photo"></div>
                <div class="user-name">Youtong Lee</div>
                <div class="short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time>52 m</time>
            </li>
        </ul>