<ul class="aside-messages-list">
            <li class="aside-list-element">
                <div class="aside-user-photo">
                    <div class="aside-new-message">
                        <span>1</span>
                    </div>
                </div>
                <div class="aside-user-info aside-user-name">John Faustino</div>
                <div class="aside-user-info aside-short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time class="aside-spend-time">52 m</time>
            </li>
            <li class="aside-list-element active">
                <div class="aside-user-photo"></div>
                <div class="aside-user-info aside-user-name">Cassia Tofano</div>
                <div class="aside-user-info aside-short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time class="aside-spend-time">now</time>
            </li>
            <li class="aside-list-element">
                <div class="aside-user-photo"></div>
                <div class="aside-user-info aside-user-name">Youtong Lee</div>
                <div class="aside-user-info aside-short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time class="aside-spend-time">52 m</time>
            </li>
            <li class="aside-list-element">
                <div class="aside-user-photo"></div>
                <div class="aside-user-info aside-user-name">John Faustino</div>
                <div class="aside-user-info aside-short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time class="aside-spend-time">52 m</time>
            </li>
            <li class="aside-list-element">
                <div class="aside-user-photo"></div>
                <div class="aside-user-info aside-user-name">Cassia Tofano</div>
                <div class="aside-user-info aside-short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time class="aside-spend-time">52 m</time>
            </li>
            <li class="aside-list-element">
                <div class="aside-user-photo"></div>
                <div class="aside-user-info aside-user-name">Youtong Lee</div>
                <div class="aside-user-info aside-short-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                <time class="aside-spend-time">52 m</time>
            </li>
        </ul>