@import 'base/variables';

/* SIDEBAR */

aside {
    width: 460px;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $bright-primary;
    transition: all .35s ease-out 0s;

    @media screen and (max-width: $ipad-resolution) {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 9999;
    }
}

// styles for elements when sidebar isn't expanded
aside.toggled {
    width: 110px;

    input,
    .search-icon,
    .aside-user-info,
    .aside-spend-time {
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
    }

    .sidebar-nav {
        display: block;
    }

    // rotate toggle button on click
    .sidebar-toggle:before {
        transform: rotate(225deg);
        margin-left: 0;
        margin-right: 5px;
    }

}

/* SIDEBAR END */


/* SECTION START */

section {
    display: flex;
    max-height: 100vh;
    width: calc(100vw - 460px);
    flex-grow: 1;
    flex-direction: column;
    background-color: $absolute-white;

    @media screen and (max-width: $ipad-resolution) {
        margin-left: 110px;
    }
}

section.toggled {
    width: calc(100vw - 110px);
}

/* SECTION END */